<!DOCTYPE html>
<html>
  <head></head>

    <title>Bowling Ally</title>
    
<body>
<ol>
  <h1>Regular Hours</h1>
  <p>Monday - Friday : 12 pm - 7pm</p>
  <p>Saturday - Sunday : 1 pm - 10pm</p>
</ol>

<ol>
  <h2>Tournament Dates</h2>
<li>August 1st</li>
<li>August 2nd</li>
<li>August 3rd</li>
</ol>

<ul>
  <h3>Bowling Ally Bar Menu</h3>
  <li>Nachos<li>
  <li>A single solitary avocado<li>
  <li>Earl Gray icecream<li>
</ul>

  <h4>Reserve A Lane</h4>
  <p> Enter Your Name Please! </p>
<form method= POST>
  <!--<input type= "text" name= "name">-->
  <br>
  <input type= "submit" value= "Reserve Your Lane">
  </form>
  
</body>
</html>


